div {
}

p {
}

h2 {
}

a {
	margin-left: 50px;
}

h1 {
	display: inline;
}

.box{
}

#Top{
	width: 100%;
}

#nav {
	float: right;
	margin: 7px 40px 0 0;
}

#content {
	margin: 0 auto;
	width: 50%;
	text-align: center;
	clear: both;
}

#footer {
	text-align: center;
	margin-top: 100px;
}
