div {
}

p {
}

h2 {
}

.box{
}

#Top{
	width: 100%;
	text-align: center;
}

#nav {
}

#nav li {
	list-style: none;
	display: inline;
	padding: 10px;
}

#nav ul {
}

#content {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

#footer {
	text-align: center;
	margin-top: 100px;
}
