div {
}

body {
	background-color: #8b8ca0;
}

p {
	margin-left: 50px;
}

h2 {
}

a {
}

h1 {
	font-size: 60px;
	text-align: center;
}

.box {
}

.button {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: black;
}

a.button {
	text-decoration: none;
}

a:hover {
	color: blue;
}

#Top{
	width: 100%;
}

#nav {
	text-align: center;
}

#content {
}

#footer {
	text-align: center;
	margin-top: 100px;
}
